*{
    /* background-color: rgba(0,0,0,0.4); */
    list-style: none;
    text-decoration: none;
}
::selection{
    background-color: rgba(100,0,0,0.3);
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
html,body{
    margin: 0;
    width: 100%;
    font-family:'Helvetica Neue', Helvetica, 'PingFang SC', 'Microsoft Yahei', 'WenQuanYi Micro Hei', Arial, Verdana, sans-serif;
}
body{
    position: relative;
}
header{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0));
}
.header-icon{
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 200px;
    height: 80px;
    background-image: url(https://mobike.com/cn/assets/themes/moby/img/logo-text.svg);
    background-repeat: no-repeat;
    background-size: 170px;
    background-position-y: 50%;
    /* background-color: red; */
}
.nav{
    position: relative;
    width: 1040px;
    height: 100%;
    margin: 0 auto;
}
.nav ul{
    margin: 0;
    padding: 0;
}
.nav ul li{
    display: block;
    float: right;
    height: 100%;
    padding: 0 0 0 45px;
    line-height: 80px;
}
.nav ul li a{
    color: white;
}

.bg{
    width: 100%;
    height: 58vw;
    background-image: url(https://mobike.com/cn/assets/themes/moby/img/landing/hero-bg-3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 50%;
    position: relative;
}
.ad{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 89%;
    height: 35px;
    background-color: rgba(145, 145, 145, 0.5);
    padding-left: 11%;
}
.ad div{
    float: left;
    width: 50px;
    height: 20px;
    background: linear-gradient(to bottom, #ec614f 0%, #ff2e2e 100%);
    margin-top: 7px;
    text-align: center;
    font-size: 12px;
    color: rgba(255,255,255,1);
    line-height: 20px;
    border-radius: 5px;
}
.ad a{
    display: block;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    color: rgba(255,255,255,0.8);
}
.bg-wrap{
    width: 1040px;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;
}
h1{
    margin: 0 0 20px 0;
    font-size: 65px;
    color: rgba(255,255,255,1);
}
.key{
    width: 300px;
    height: 60px;
    /* background-color: aquamarine; */
    font-size: 22px;
    text-align: center;
    line-height: 60px;
}
.key a{
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 8px;
    color: white;
    font-weight: 700;
}
.key a:hover{
    background-color: rgba(0,0,0,0.8);
}
.nav-img{
    width: 100%;
}
.img{
    float: left;
    width: 25%;
    height: 260px;
    /* overflow: hidden; */
    text-align: center;
    border-top: 2px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    box-sizing: border-box;
}
.img a{
    display: block;
    width: 100%;
    height: 100%; 
}
.img a span{
    display: block;
    padding-top: 10%;
    font-size: 24px;
    color:rgba(255,255,255,1);
}
.i1{
    background-image: url(https://mobike.com/cn/assets/themes/moby/img/promo-01.jpg);
    background-repeat: no-repeat;
    border-left: 0px;
}
.i2{
    background-image: url(https://mobike.com/cn/assets/themes/moby/img/promo-02.jpg);        
    background-repeat: no-repeat;
}
.i3{
    background-image: url(https://mobike.com/cn/assets/themes/moby/img/promo-03.jpg);    
    background-repeat: no-repeat;
}
.i4{
    background-image: url(https://mobike.com/cn/assets/themes/moby/img/promo-04.jpg);
    background-repeat: no-repeat;
    border-right: 0px;
}
.links{
    width: 1040px;
    margin: 0 auto;
    height: 140px;
}
.link{
    float: left;
    width: 33.3%;
    /* min-width: 30%; */
    padding: 45px 0px;
}
.l2{
    width: 200px;
    margin: 0 auto;
}
.l3{
    float: right;
}
.ic{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.text{
    display: inline-block;
    vertical-align: middle;
}
.text h4{
    margin: 0;
}
.text p{
    margin: 0;
}
.wechat{
    background-image: url(https://mobike.com/cn/assets/themes/moby/img/icon-wechat.png);
    background-size: 50px;
    background-position-y: 5px;
}
.rp{
    background-image: url(https://mobike.com/cn/assets/themes/moby/img/icon-rp.png);
    background-size: auto 50px;
}
.credit{
    background-image: url(https://mobike.com/cn/assets/themes/moby/img/icon-credit.png);
    background-size: 50px;
}
hr{
    border-color: rgba(255,255,255,0.3);
}
.introduce{
    height: 155px;
    width: 1040px;
    padding: 45px 0;
    margin: 0 auto;
}
.introduce ul{
    margin: 0;
    padding: 0;
}
.introduce ul li{
    margin: 10px 0;

}
.introduce ul li a{
    color: black;
}
.main-links{
    float: left;
    width: 40%;
    min-width: 150px;
}
.main-icon{
    height: 36px;
    background-image: url(https://mobike.com/cn/assets/themes/moby/img/logo-text.svg);
    background-repeat: no-repeat;
    background-size: 170px;
    margin-bottom: 20px;
}
.right-links{
    float: right;
    width: 60%;
}
.rlink{
    display: inline-block;
    vertical-align: top;
    width: 15%;
    min-width: 100px;
}
.blank-left{
    margin-left: 11%;
}
.rlink h3{
    margin-top: 0;
}
footer{
    width: 1040px;
    height: 58px;
    margin: 0 auto;
    padding: 45px 0;
}
footer>div:nth-child(1){
    float: left;
    /* margin-top: 10px; */
    color: rgba(170,170,170,1);
    font-size: 12px;
    line-height: 30px;
}
footer>div:nth-child(1) i{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url(https://mobike.com/cn/assets/themes/moby/img/beian-icon.png);
    background-size: 15px;
    vertical-align: middle;
}
footer>div:nth-child(2){
    float: right;
    margin-top: 10px;
}


@media (min-width:1060px){
    .i1{
        background-size: 125%;
        background-position-x: -30px;
        background-position-y: 0px;
    }
    .i2{
        background-size: 125%;
    }
    .i3{
        background-size: 112%;
        background-position-x: -20px;
    }
    .i4{
        background-size: 130%;
        background-position-y: -30px;
    }
    /* h1{
        margin-left: 0;
    }
    .key{
        margin-left: 0;
    } */
    .nav-hide{
        display: none;
    }
}
@media (max-width:1060px){
    .nav{
        width: 100%;  
    }
    .nav ul{
        visibility: hidden;
    }
    .nav-hide{
        position: absolute;
        z-index: 3;
        top: 0;
        right: 0;
        width: 100%;
    }
    .nav-hide ul{
        margin: 0;
        padding: 0;
        position: absolute;
        width: 100%;
        background-color: rgba(226, 61, 14, 0.9);
        visibility: hidden;
    }
    .nav-hide ul span{
        display: block;
        border-top: 1px solid rgba(0,0,0,0.2);
    }
    .first-li{
        height: 80px;
    }
    .nav-hide ul li:nth-child(n+2){
        height: 55px;
    }
    .nav-hide ul li{
        padding-left: 20px;
    }
    .nav-hide ul li a{
        line-height: 55px;
        color: white;
    }
    .nav-hide label{
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
        height: 50px;
        width: 50px;
        /* background-color: red; */
    }
    .nav-hide label span{
        display: block;
        width: 20px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        margin-left: auto;
        margin-right: auto;
    }
    .s1{
        transition: transform 0.5s linear;
        margin-top: 14px;
    }
    .s2{
        transition: transform 0.5s linear;
        margin-top: 12px;
    }
    .nav-hide input:checked+ul{
        visibility: visible;
    }
    .nav-hide input:checked~label span:nth-child(1){
        transform-origin: 100% 50%;
        transform: rotate(-45deg);
    }
    .nav-hide input:checked~label span:nth-child(2){
        transform-origin: 100% 50%;
        transform: rotate(45deg);
    }
}
@media (min-width:680px) and (max-width:1060px){
    .header-icon{
        left: 20px;
    }
    .bg{
        height: 450px;
    }
    .i1{
        background-position: center;
    }
    .i2{
        background-position: center;
    }
    .i3{
        background-position: center;
    }
    .i4{
        background-position: center;
    }
    .bg-wrap{
        width: 100%;
    }
    h1{
        margin-left: 20px;
        font-size: 43px;
    }
    .key{
        margin-left: 20px;
    }
    .ad{
        width: 97%;
        padding-left: 3%;
    }
    .img{
        width: 50%;
        background-size: cover;
    }
    .links{
        width: 100%;
    }
    .introduce{
        width: 100%;
    }
    .rlink{
        min-width: 85px;
    }
    .blank-left{
        margin-left: 3%;
    }
    footer{
        width: 100%;
    }
}
@media (max-width:800px){
    .bg{
        background-size: 800px;
        height: 450px;
        background-position-x: 60%;
    }
}
@media (max-width:680px){
    .header-icon{
        left: 20px;
    }
    .i1{
        background-position: center;
    }
    .i2{
        background-position: center;
    }
    .i3{
        background-position: center;
    }
    .i4{
        background-position: center;
    }
    .bg-wrap{
        width: 100%;
    }
    h1{
        margin-left: 20px;
        font-size: 43px;
    }
    .key{
        margin-left: 20px;
    }
    .ad{
        width: 97%;
        padding-left: 3%;
    }
    .img{
        width: 100%;
        background-size: cover;
        /* background-position-y: -80px; */
    }
    .links{
        width: 100%;
        height: auto;
    }
    .link{
        min-width: 220px;
        height: 45px;
        float: none;
        display: inline-block;
        padding: 20px 0;
    }
    .introduce{
        width: 100%;
        height: auto;
    }
    .main-links{
        width: 100%;
        float: none;
    }
    .right-links{
        width: 100%;
        float: none;
    }
    .rlink{
        min-width: 90px;
    }
    .blank-left{
        margin-left: 0;
    }
    footer{
        width: 100%;
    }
}
@media (max-width:400px){
    .rlink{
        width: 40%;
    }
}